<div class="row page-titles">
    <div class="col-md-5 align-self-center">

        <h4 class="text-themecolor"><a href="/dashboard"> <i class="mdi mdi-arrow-left"></i> </a> James Anderson</h4>
    </div>
    <div class="col-md-7 align-self-center text-right">
        <div class="d-flex justify-content-end align-items-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                <li class="breadcrumb-item active">Detalles de Cliente</li>
            </ol>
            
        </div>
    </div>
</div>
<!-- ============================================================== -->
<!-- End Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Start Page Content -->
<!-- ============================================================== -->
<!-- Row -->
<div class="row">
    <!-- Column -->
    <div class="col-lg-3 col-xlg-3 col-md-5">
        <div class="card"> <img class="card-img" src="../assets/images/background/user-info.jpg" height="456" alt="Card image">
            <div class="card-img-overlay card-inverse text-white social-profile d-flex justify-content-center">
                <div class="align-self-center"> <img src="../assets/images/users/1.jpg" class="img-circle" width="100">
                    <h4 class="card-title">James Anderson</h4>
                    <h6 class="card-subtitle">última actualizacion: 16/06/2018</h6>
                    <h5 class="m-t-30">Status: <strong>Pendiente</strong><span class="pull-right"></span></h5>
                                <div class="progress ">
                                    <div class="progress-bar bg-danger wow animated progress-animated" style="width: 85%; height:6px;" role="progressbar"> <span class="sr-only">60% Complete</span> </div>
                                </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body"> <small class="text-muted">Email </small>
                <h6>richardmesen@gmail.com</h6> <small class="text-muted p-t-30 db">Teléfono</small>
                <h6>+505 8888-8888</h6> 
                <small class="text-muted p-t-30 db">Código cliente</small>
                <h6>123456</h6> 
            </div>
        </div>
    </div>
    <!-- Column -->
    <!-- Column -->
    <div class="col-lg-9 col-xlg-9 col-md-7">
        <div class="card">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs profile-tab" role="tablist">                
                <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#profile" role="tab">KYC Info</a> </li>
                <li class="nav-item"> <a class="nav-link " data-toggle="tab" href="#home" role="tab">Línea del tiempo</a> </li>
                <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#settings" role="tab">Avanzado</a> </li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane " id="home" role="tabpanel">
                    <div class="card-body">
                        <div class="profiletimeline">
                            <div class="sl-item">
                                <div class="sl-left"> <img src="../assets/images/bot.jpg" alt="user" class="" /> </div>
                                <div class="sl-right">
                                    <div><a href="#" class="link">Karis</a> <span class="sl-date">16/06/2018 06:00</span>
                                        <p> Envío de Formulario</p>                                        
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="sl-item">
                                <div class="sl-left"> <img src="../assets/images/users/1.jpg" alt="user" class="img-circle" /> </div>
                                <div class="sl-right">
                                    <div> <a href="javascript:void(0)" class="link">John Doe</a> <span class="sl-date">16/06/2018 010:00</span>
                                        <br>
                                        <h5>Apertura de Formulario</h5>
                                            <div class="m-t-20 row">

                                            <div class="col-md-3 col-xs-12"><img src="../assets/images/maps.jpg" alt="user" class="img-responsive radius" /></div>
                                            
                                        </div>
                                        
                                        
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="sl-item">
                                <div class="sl-left"> <img src="../assets/images/users/1.jpg" alt="user" class="img-circle" /> </div>
                                <div class="sl-right">
                                    <div> <a href="javascript:void(0)" class="link">John Doe</a> <span class="sl-date">16/06/2018 10:35</span>
                                        <br>
                                        <h5>Envio de Formulario</h5>
                                            <div class="m-t-20 row">

                                            <div class="col-md-3 col-xs-12"><img src="../assets/images/maps.jpg" alt="user" class="img-responsive radius" /></div>
                                            
                                        </div>
                                        
                                        
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="sl-item">
                                <div class="sl-left"> <img src="../assets/images/bot.jpg" alt="user" class="" /> </div>
                                <div class="sl-right">
                                    <div><a href="javascript:void(0)" class="link">Karis</a> <span class="sl-date">16/06/2018 10:36</span>
                                        <blockquote class="m-t-10">
                                           Confirmación y validación del formulario.
                                        </blockquote>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--second tab-->
                <div class="tab-pane active" id="profile" role="tabpanel">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-3 col-xs-6 b-r"> <strong>Nombre Completo</strong>
                                <br>
                                <p class="text-muted">Johnathan Deo</p>
                            </div>
                            <div class="col-md-3 col-xs-6 b-r"> <strong>Teléfono</strong>
                                <br>
                                <p class="text-muted">(506) 8888-8888</p>
                            </div>
                            <div class="col-md-3 col-xs-6 b-r"> <strong>Codigo Cliente</strong>
                                <br>
                                <p class="text-muted">123456</p>
                            </div>
                            <div class="col-md-3 col-xs-6"> <strong>Fecha de Apertura</strong>
                                <br>
                                <p class="text-muted">01/01/2018</p>
                            </div>
                        </div>
                        <hr>
                        <div class="vtabs customvtab">
                            <ul class="nav nav-tabs tabs-vertical" role="tablist">
                                <li class="nav-item"> <a class="nav-link active show" data-toggle="tab" href="#home3" role="tab" aria-selected="false"><span class="hidden-xs-down">Datos Generales</span> </a> </li>
                                <li class="nav-item"> <a class="nav-link " data-toggle="tab" href="#profile3" role="tab" aria-selected="true"><span class="hidden-xs-down">Otros Datos</span></a> </li>
                                <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#messages3" role="tab" aria-selected="false"><span class="hidden-xs-down">Datos Laborales</span></a> </li>
                                <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#messages4" role="tab" aria-selected="false"><span class="hidden-xs-down">Información Financiera</span></a> </li>
                                <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#messages5" role="tab" aria-selected="false"><span class="hidden-xs-down">Referencias Personales</span></a> </li>
                                <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#messages6" role="tab" aria-selected="false"><span class="hidden-xs-down">Validación</span></a> </li>
                                <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#messages7" role="tab" aria-selected="false"><span class="hidden-xs-down">Uso Interno</span></a> </li>
                            </ul>
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div class="tab-pane active show" id="home3" role="tabpanel">
                                    <div class="p-20 ">
                                        <img src="../assets/images/demo/datos-generales.png" width="100%" />
                                    </div>
                                </div>
                                <div class="tab-pane p-20 " id="profile3" role="tabpanel">
                                    <div class="p-20 ">
                                        <img src="../assets/images/demo/otros-datos.png" width="100%" />
                                    </div>
                                </div>
                                <div class="tab-pane p-20" id="messages3" role="tabpanel">
                                    <div class="p-20 ">
                                        <img src="../assets/images/demo/datos-laborales.png" width="100%" />
                                    </div>
                                </div>
                                <div class="tab-pane p-20" id="messages4" role="tabpanel">
                                    <div class="p-20 ">
                                        <img src="../assets/images/demo/informacion-financiera.png" width="100%" />
                                    </div>
                                </div>
                                <div class="tab-pane p-20" id="messages5" role="tabpanel">
                                    <div class="p-20 ">
                                        <img src="../assets/images/demo/ref-personales.png" width="100%" />
                                    </div>
                                </div>
                                <div class="tab-pane p-20" id="messages6" role="tabpanel">
                                    <div class="p-20 ">
                                        <img src="../assets/images/demo/validacion.png" width="100%" />
                                    </div>
                                </div>
                                <div class="tab-pane p-20" id="messages7" role="tabpanel">
                                    <div class="p-20 ">
                                        <img src="../assets/images/demo/uso-interno.png" width="100%" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="settings" role="tabpanel">
                    <div class="card-body">
                        <form class="form-horizontal form-material">
                            <div class="form-group">
                                <label class="col-md-12">Administrador</label>
                                <div class="col-md-12">
                                    <input type="text" placeholder="Erick Cascante" class="form-control form-control-line">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="example-email" class="col-md-12">Email</label>
                                <div class="col-md-12">
                                    <input type="email" placeholder="erickcascante@gmail.com" class="form-control form-control-line" name="example-email" id="example-email">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="example-email" class="col-md-12">Datos Fuente</label>
                                <div class="col-md-12">
                                    <input type="email" placeholder="123.sql-connection.connection.com:1433" class="form-control form-control-line" name="example-email" id="example-email">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-12">Recordatorio de actualización automática</label>
                                <div class="col-md-12">
                                    <input type="text" placeholder="Semanal" class="form-control form-control-line">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-12">última actualización</label>
                                <div class="col-md-12">
                                    <input type="text" placeholder="16/06/2018" class="form-control form-control-line">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-12">Actualizar Manual</label>
                                <div class="col-md-12">
                                    <a class="btn btn-danger" href="#" id="update">Actualizar</a>
                                </div>
                            </div>
                            
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Column -->
</div>

<script type="text/javascript">
    $(document).ready(function(){
        $('#update').click(function(){
            swal({   
                title: "Este Seguro?",   
                text: "Enviara un correo de notificación al usuario para actualizar los datos!",   
                type: "warning",   
                showCancelButton: true,   
                confirmButtonColor: "#e46a76",   
                confirmButtonText: "Si, Enviar!",   
                cancelButtonText: "Cancelar",   
                closeOnConfirm: false,   
                closeOnCancel: false 
            }, function(isConfirm){   
                if (isConfirm) {     
                    swal("Enviado!", "Correo enviado.", "success");   
                } 
            });
        });
    });    
</script>