@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
	font-family: 'Roboto', sans-serif;
	padding: 0;
	margin: 0;
}


.hide,
.sm-hide{
	display: none;
}

.default h2 {    
	-webkit-font-smoothing: antialiased;
    font-weight: 300;
    text-transform: uppercase;
}

.default header {
	background: #f5f5f5;
	padding: 5px 0;
}

#logo{
	width: 85px;
}

.disclosure{
	padding: 10px;
	border: 1px solid #ccc;
	min-height: 250px;
}

.slogan{
	line-height: 100px
}

.default .content-transition {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
}

.default footer{
	margin-top: 15px;
	text-align: center;
}

.default .main-form{
	margin-top: 75px;
}

.group 			  { 
  position:relative; 
  margin-bottom:15px; 
}

.spacetop {
	margin-top: 50px; 
}

.align-toggle {
	margin-top: 10px; 
}

.muted{
    color: #ccc;
}

.submit-btn{
	width: 100%;
}

canvas {
  /*position: absolute;*/
  border: 2px solid;
  background: #fff;
}


.signature-pad {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 10px;
  width: 99%;
  height: 100%;
  /*max-width: 700px;*/
  min-height: 230px;
  border: 1px solid #e8e8e8;
  background-color: #fff;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.08) inset;
  border-radius: 4px;
  padding: 16px;
}

.signature-pad::before,
.signature-pad::after {
  position: absolute;
  z-index: -1;
  content: "";
  width: 40%;
  height: 10px;
  bottom: 10px;
  background: transparent;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.4);
}

.signature-pad::before {
  left: 20px;
  -webkit-transform: skew(-3deg) rotate(-3deg);
          transform: skew(-3deg) rotate(-3deg);
}

.signature-pad::after {
  right: 20px;
  -webkit-transform: skew(3deg) rotate(3deg);
          transform: skew(3deg) rotate(3deg);
}

.signature-pad--body {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border: 1px solid #f4f4f4;
}

.signature-pad--body
canvas {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.02) inset;
  cursor: url('../../img/cursor-full-32.png') 0 32, default;
}

.signature-pad--footer {
  color: #C3C3C3;
  text-align: center;
  font-size: 1.2em;
  margin-top: 8px;
}

.signature-pad--actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 8px;
}


.custom-file-input {
	margin-top: 15px;
  /*color: transparent;*/
}
.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input::before {
  content: 'Seleccione Documentos';
  color: black;
  display: inline-block;
  background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
}
.custom-file-input:hover::before {
  border-color: black;
}
.custom-file-input:active {
  outline: 0;
}
.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9); 
}


.file_upload {
  position: relative;
  min-width: 175px;
  text-align: center;
  color: #ee3333;
  line-height: 25px;
  color: #5200ff;
  /*display: inline-block;*/
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9); 
  border: 2px solid #5a00f8;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
}

a.file_upload {
  display: inline-block;
}

.file_upload .btn_lbl {
  position: relative;
  z-index: 2;
  pointer-events: none;
}

.file_upload .btn_colorlayer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  z-index: 1;
  pointer-events: none;
}

.file_upload input[type="file"] {
  position: absolute;
  top: 3px;
  left: -118px;
  font-weight: 600;
  margin-left: 100%;
  color: #333;
  outline: none;
}



/* Logica de negocios *********************************************************************************/

.tieneciudadania,
.cumplidofuncpublicas {display: none}

/* Logica de negocios *********************************************************************************/


label,
textarea{
  color:#999; 
  font-size:18px;
  font-weight:normal;
  left:5px;
  top:10px;
}

.mdc-select{
	width: 100%
}

.inline{
    display: block;
    margin: 20px 0;
}

.normalize-top{
    margin-top: 78px;
}

.label-sm{
	font-size: 14px;
    color: #ccc;
}

.group input ,
.group textarea {
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  width:100%;
  border:none;
  border-bottom:1px solid #757575;
}

.mdc-select__native-control, 
.mdc-select__selected-text{
    padding-right: 32px;
}

.group label.overflow{
  font-size: 14px;
}

textarea{
	width: 100%;
}

input:focus ,
textarea:focus { outline:none; }

/* LABEL ======================================= */
.group label 				 {
  color:#999; 
  font-size:18px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}

/* active state */
.group textarea:focus ~ label:not(.error), 
.group textarea:valid ~ label:not(.error),
.group input:focus ~ label:not(.error),
.group input:valid ~ label:not(.error)
	{
  top:-20px;
  font-size:14px;
  color:#5264AE;
}




select:focus ~ .mdc-floating-label,
select:valid ~ .mdc-floating-label{
	display: none;
}

/* BOTTOM BARS ================================= */
.bar 	{ position:relative; display:block; width:100%; }
.bar:before, .bar:after 	{
  content:'';
  height:2px; 
  width:0;
  bottom:1px; 
  position:absolute;
  background:#5264AE; 
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%; 
}

/* active state */
.group  textarea:focus ~ .bar:before
.group  textarea:focus ~ .bar:after,
.group  input:focus ~ .bar:before, 
.group  input:focus ~ .bar:after {
  width:50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position:absolute;
  height:60%; 
  width:100px; 
  top:25%; 
  left:0;
  pointer-events:none;
  opacity:0.5;
}

/* active state */
.group  textarea:focus ~ .highlight,
.group  input:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}



/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}

.alert-danger {
  color: #77373d;
  background-color: #fae1e4;
  border-color: #f7d5d9;
}

.alert {
  margin: 10px auto;
  width: 90%;
  padding: .75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: .25rem;
}
.alert, .btn .badge, .page-link {
  position: relative;
}